# --- Gradle ---
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties
!gradlew
!gradlew.bat

# --- IntelliJ IDEA ---
.idea/
*.iml
out/

# --- Java ---
*.class
hs_err_pid*
replay_pid*

# --- OS junk ---
.DS_Store
Thumbs.db

# --- Project-local machine config (if you keep org.gradle.java.home here)
gradle.properties

# --- Other IDEs (harmless if someone opens elsewhere) ---
.project
.classpath
.settings/

# Keine Videoformate
*.mkv
*.mp4
*.avi
*.mov
*.wmv
*.flv
*.mpeg
*.mpg
*.m4v
*.3gp
*.webm

# Keine Audioformate
*.mp3
*.wav
*.aac
*.ogg
*.flac
*.wma
*.aiff

# Keine Archiv-/Imageformate
*.zip
*.tar
*.gz
*.tgz
*.bz2
*.7z
*.rar
*.iso

# Keine VM-Dateien
*.vmdk
*.vmx
*.nvram
*.vmsd
*.vmsn
*.vdi
*.vbox
*.vbox-prev
*.vhd
*.vhdx
*.avhd
*.avhdx
*.qcow
*.qcow2
*.img
*.raw
*.vagrant
