services:
  backend:
    build: .
    network_mode: "host"
    environment:
      - DATABASE_URL=postgresql://jf:JF-NutriScan123@localhost:5432/nutriscan
      - PORT=3000
      - NODE_ENV=development
      - JWT_SECRET=your_super_secret_jwt_key_change_this_in_production
      - JWT_EXPIRES_IN=7d
      - OPEN_FOOD_FACTS_URL=https://world.openfoodfacts.net
      - ALLOWED_ORIGINS=http://localhost:5173,http://localhost:4173
    volumes:
      - ./src:/app/src
      - ./prisma:/app/prisma
    command: sh -c "npx prisma db push --skip-generate --accept-data-loss && npm run dev"

volumes:
  postgres_data: